* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

banner {
  display: flex;
  background-image: linear-gradient(-225deg, rgba(0,20,0,0.6) 0%, rgba(20,0,0,0.6) 50%), url("https://source.unsplash.com/1280x720/?pets");
  background-size: cover;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  height: 100vh;
}

banner h1 {
  font-size: 8rem;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #f7f7f7;

}

banner a {
  font-size: 20px;
  padding: 0 10px;
  color: lightgrey;
}

.banner-content {
  margin-top: 50px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container p {
  margin: 0;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.button {
  border: 0.5px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: .8s;
  border-radius: 5%;
}

.button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 3px 0px 0px;
  text-decoration: none;
  color: #FD8CD4;
}

.button:hover {
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #FD8CD4;
  border-color: #FD8CD4;

}

.button:focus {
  text-decoration: none;
  color: #FD8CD4;
  border-color: #FD8CD4;
}
