.bookings {
  display: grid;
  grid-template-columns: 350px 350px;
  padding: 30px;
}

.bookings .details {
  grid-column: 1 / span 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
}
.bookings .review {
  grid-column: 2 / span 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
}

.status {
  font-weight: bold;
}

.status.accepted {
  color: green;
}
.status.rejected {
  color: red;
}
.status.pending {
  color: white;
}

.status.canceled {
  color: red;
}
