.container {
  margin: 2% 0 0 1%;
}

.form-inputs {
  display: grid;
  justify-content: left;
}

.links-registration {
  margin: 5% 0 2% 0;
}

.links-registration a {
  text-decoration: none;
  color: lightgrey;
}

.links-registration a:hover {
  text-decoration: none;
  color: #FD8CD4;
}
