
<main role="main">
  <h1>Pick your friend!</h1>
  <% @pets.each do |pet| %>
  <div class="card">
    <div class="front">
      <%= pet.name %>
    </div>
    <div class="back">
      <%= pet.address %>
      <%= link_to 'Show', pet_path(pet) %>
    </div>
  </div>
  <% end %>
</main>
