<div class="wrapper">
   <div style="height: 200px;"> </div>


   <h2>
    <%= "Please share your pet's details. We'll look for the perfect buddy for 'em:"%>
   </h2>

  </div>
  <div class="container">
    <%= render 'form', pet: @pet %>
  </div>
</div>
