@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Overlock');

html {
  /* To position footer at the bottom */
  position: relative;
  min-height: 100%;
}

body {
  /* Padding top by navbar height */
  padding-top: 70px;
   /* Margin bottom by footer height */
  margin-bottom: 60px !important;
  font-family: "Fira Sans", "Helvetica", "sans-serif";

  h1, h2, h3, h4, h5, h6, p {
    font-family: "Overlock", "Helvetica", "sans-serif";
    color: #7f7f7f
  }

  p {
    font-size: 14px;
  }

}

