<form class="form-menu">
    <input type="search" id="searchbar" placeholder="Find your buddy">
    <div class="btn-container">
      <a href="/pets" class="button"><p>search</p></a>
    </div>
</form>
