<!-- navbar -->
<nav class="navbar-wagon navbar-fixed-top">
  <!-- use nav instead of div for navbar - html 5 -->
  <!-- logo -->

<a href="/" class="navbar-wagon-brand fas fa-paw">
    </a>
  <!-- fim logo -->
  <!-- Align right -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!--       links navbar -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Find a buddy</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Share your pet</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Inbox</a>
 <!--    fim links navbar -->

 <!-- dropdown with avatar -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://avatars1.githubusercontent.com/u/38114468?v=4" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- fim dropdown with avatar -->

<!--   navbar mobile -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</nav>
