<header>
    <div class="header-content">
      <h1>Pets without the stress</h1>

      <div class="btn-container">
        <a class="button" href="#"><p>Rent now</p></a>
      </div>

    </div>
</header>
