<body style="padding-top: 0;">
  <header class="home-banner">
  <h1>Pets without the stress</h1>
  <%= render 'shared/form' %>
</header>
<div class="wrapper-white">
  <div class="container">
    <div class="text-center padded features">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "findapet.png"%>
        <h2>Find a pet</h2>
        <p>Pets can be great friends</p>
      </div>
      <div class="col-xs-12 col-sm-6">
       <%= image_tag "dog1.jpeg"%>
        <h2>Book a moment with your new friend</h2>
        <p>Hang out with the vv good bois and girles</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "saianodate.jpeg"%>
        <h2>Go on a date</h2>
        <p>Be happy</p>
      </div>

      </div>

    </div>


  </div>




</div>

</body>
