<body style="padding-top: 0;">
  <header class="home-banner">
  <h1>Pets without the stress</h1>
  <%= render 'shared/form' %>
</header>


  <div class="container-home">
      <h2> Here how your pet love story begins...</h2>
      <div class="text-center padded features">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "findapet.png", class: "icon_home"%>
          <h3>Find a pet</h3>
          <p>Pets can be great friends</p>
        </div>
        <div class="col-xs-12 col-sm-6">
         <%= image_tag "dog1.jpeg", class: "icon_home"%>
          <h3>Book a moment with your new friend</h3>
          <p>Hang out with the vv good bois and girles</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "saianodate.jpeg", class: "icon_home"%>
          <h3>Go on a date</h3>
          <p>Be happy</p>
        </div>
      </div>
    </div>
  </div>
</body>
