// this file name "cardo" is just to avoid conflicts with bootstrap
.cardo {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100rem;
  max-height: 500px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 20px auto;
}
.cardo div {
  width: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
}

.front {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(66, 66, 66, 0.6) 34%), url("https://source.unsplash.com/400x400/?pets");
  background-position: center;
  background-size: cover !important;
  display: block;
  height: 100%;

}

.pet-info-front {
  position: absolute;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: 385px 0 0 1%;
  padding: 2%;
}

.pet-info-front h3 {
  color: white;
  font-size: 3rem;
}

.back {
  display: block;
}

.pet-info-back {
  position: absolute;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  padding: 2%;
}

.cardo .back {
  transform: rotateY(180deg);
}
.cardo.flipped {
  transform: rotateY(180deg);
}


