// this file name "cardo" is just to avoid conflicts with bootstrap
.cardo {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100rem;
  max-height: 500px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 20px auto;
}

.cardo div {
  backface-visibility: hidden;
}

.front {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(66, 66, 66, 0.6) 34%), url("https://source.unsplash.com/400x400/?pets");
  background-position: center;
  background-size: cover !important;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.pet-info-front {
  position: absolute;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  width: 100%;
}

.pet-info-front h3 {
  color: white;
  font-size: 3rem;
  margin: 385px 0 0 1%;
  padding: 2%;
}

.back {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.pet-info-back {
  position: absolute;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: grid;
  margin: -518px 0 0 0;
}

.pet-info-back h3 {
  color: black;
  font-size: 40px;
  padding: 2%;
  text-align: center;
}

.pet-info-back p {
  color: black;
  font-size: 3rem;
  margin: 0;
  padding: 1%;
  text-align: center;
}

.pet-adress {
  margin-top: 1%;
  padding: 8px;
}

.pet-info-back h4 {
  color: black;
  font-size: 3.1rem;
  text-align: center;
}

.cardos-link {
  display: grid;
  padding: 1%;
  font-size: 1.5rem;
  justify-content: space-around;
  margin: 1% 0 0 0;
}

.cardo .back {
  transform: rotateY(180deg);
}

.cardo.flipped {
  transform: rotateY(180deg);
}
