.form-wrapper {
  padding: 100px 300px;
  background-color: #F7F7F7;

  h2 {
    margin-bottom: 40px;
    text-align: center;
  }
}

.form-container {
  display: flex;
  align-items: space-around;
  justify-content: center;

}

.simple_form .form-control {
  border-radius: 6px;
}
