// .container-general {

//   background: linear-gradient(to top, #ff6e7f, #bfe9ff);
//   background-position: center;
// }

.container-h1 {
  margin: 1% auto auto auto;
  padding: 5% 0;
  text-align: center;
}
